{% load static %}
<footer class="text-white bg-cover bg-center" style="background: url(img/hero-banner-1.jpg)">
    <div class="dark-overlay">
      <div class="overlay-content">
        <div class="container py-5">
          <div class="row py-5">
            <div class="col-lg-4 col-md-6"><img class="mb-4" src="img/logo-white.png" alt="" width="120">
              <p class="text-light text-small mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <p class="mb-1"><i class="fas fa-envelope mr-3 text-primary fa-fw"></i><span class="text-small">Construction@example.com</span></p>
              <p class="mb-1"><i class="fas fa-mobile mr-3 text-primary fa-fw"></i><span class="text-small">+535 421 895 6523</span></p>
              <p class="mb-1"><i class="fas fa-map-marker-alt mr-3 text-primary fa-fw"></i><span class="text-small">1798 Pretty View Lane, California</span></p>
            </div>
            <div class="col-lg-2 col-md-6">
              <h6 class="text-uppercase text-primary mt-3 mb-4">Quick <span class="text-white">links</span></h6>
              <ul class="list-unstyled">
                <li class="mb-2"><a class="footer-link" href="#">Home</a></li>
                <li class="mb-2"><a class="footer-link" href="#">About</a></li>
                <li class="mb-2"><a class="footer-link" href="#">Services</a></li>
                <li class="mb-2"><a class="footer-link" href="#">Contacts</a></li>
                <li class="mb-2"><a class="footer-link" href="#">Pages</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6">
              <h6 class="text-uppercase text-primary mt-3 mb-4">Our <span class="text-white">services</span></h6>
              <ul class="list-unstyled">
                <li class="mb-2"><a class="footer-link" href="#">Kitchen Remodel</a></li>
                <li class="mb-2"><a class="footer-link" href="#">Home Renovation</a></li>
                <li class="mb-2"><a class="footer-link" href="#">Home Repair</a></li>
                <li class="mb-2"><a class="footer-link" href="#">Windows &amp; Doors</a></li>
                <li class="mb-2"><a class="footer-link" href="#">Bathroom Remodel</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6">
              <h6 class="text-uppercase text-primary mt-3 mb-4">Opening <span class="text-white">hours</span></h6>
              <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-center justify-content-between pb-2">
                  <p class="text-small mb-0">Monday </p><span class="text-small mb-0">9:00 am - 06:00 pm</span>
                </li>
                <li class="d-flex align-items-center justify-content-between py-1">
                  <p class="text-small mb-0">Tuesday </p><span class="text-small mb-0">9:00 am - 06:00 pm</span>
                </li>
                <li class="d-flex align-items-center justify-content-between py-1">
                  <p class="text-small mb-0">Wednesday </p><span class="text-small mb-0">9:00 am - 06:00 pm</span>
                </li>
                <li class="d-flex align-items-center justify-content-between py-1">
                  <p class="text-small mb-0">Friday</p><span class="text-small mb-0">9:00 am - 06:00 pm</span>
                </li>
                <li class="d-flex align-items-center justify-content-between py-1">
                  <p class="text-small mb-0">Saturday</p>
                  <p class="text-small mb-0 text-uppercase text-primary">Closed</p>
                </li>
                <li class="d-flex align-items-center justify-content-between py-1">
                  <p class="text-small mb-0">Sunday</p>
                  <p class="text-small mb-0 text-uppercase text-primary">Closed</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container text-center">
          <div class="border-top py-4">
            <!-- You are completely free to use this template for your personal use or as a work for your client as long as you keep the link at the template footer pointing to our partner and us.-->
            <!-- If you would prefer removing the backlink from the theme footer, please purchase the attribution-free license at the theme page at https://bootstraptemple.com.-->
            <p class="mb-0 text-white text-small">&copy; All rights reserved. Template designed by <a href="https://bootstraptemple.com/p/bootstrap-contruction-template">Bootstrap Temple</a>. </p>
          </div>
        </div>
      </div>
    </div>
  </footer>