{% load static %}
<!-- navbar-->
<header class="header">
    <div class="bg-primary text-white py-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 d-none d-lg-block">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3"><a class="reset-anchor" href="#"><i class="fas fa-mobile mr-2"></i><span class="font-weight-normal text-small">+535 421 895 6523</span></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fas fa-envelope mr-2"></i><span class="font-weight-normal text-small">Construction@example.com</span></a></li>
            </ul>
          </div>
          <div class="col-lg-5 text-right">
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a class="font-weight-bold text-small reset-anchor" href="#">FAQ</a></li>
              <li class="list-inline-item">|</li>
              <li class="list-inline-item"><a class="font-weight-bold text-small reset-anchor" href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light py-3 bg-white">
      <div class="container"><a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="" width="150"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-2">
              <!-- Link--><a class="nav-link active" href="index.html">Home</a>
            </li>
            <li class="nav-item mx-2">
              <!-- Link--><a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item mx-2">
              <!-- Link--><a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item ml-2 dropdown"><a class="nav-link dropdown-toggle pr-0" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
              <div class="dropdown-menu dropdown-menu-right mt-lg-4" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item text-small" href="index.html">Home</a><a class="dropdown-item text-small" href="services.html">Services</a><a class="dropdown-item text-small" href="contact.html">Contact                </a></div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>