{% extends 'base.html'%}
{% load static %}

{% block content %}
    
    <!-- Hero Slider -->
    <section>
      <div class="owl-carousel owl-theme-default hero-slider owl-nav-custom">
        <div class="hero-slide bg-cover bg-center py-5 with-border-image" style="background: url(img/hero-banner-3.jpg)">
          <div class="container text-white py-5 index-forward">
            <div class="row">
              <div class="col-lg-7">
                <p class="h3 text-primary mb-0">Your renovation</p>
                <h1>Making dreams come to life</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p><a class="btn btn-primary text-white" href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-slide bg-cover bg-center py-5 with-border-image" style="background: url(img/hero-banner-2.jpg)">
          <div class="container text-white py-5 index-forward">
            <div class="row">
              <div class="col-lg-7">
                <p class="h3 text-primary mb-0">Building right</p>
                <h1>Always dedicated and devoted</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p><a class="btn btn-primary text-white" href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-slide bg-cover bg-center py-5 with-border-image" style="background: url(img/hero-banner-1.jpg)">
          <div class="container text-white py-5 index-forward">
            <div class="row">
              <div class="col-lg-7">
                <p class="h3 text-primary mb-0">Your dream</p>
                <h1>Is our responsibility</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p><a class="btn btn-primary text-white" href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section -->
    <section class="py-5 bg-light">
      <div class="container py-5">
        <header class="text-center mb-5">
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <h2 class="text-uppercase"><span class="text-primary">Our </span>Services</h2>
              <p class="text-muted">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
            </div>
          </div>
        </header>
        <div class="row text-center">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="shadow-sm box">
              <div class="with-border-image-sm">
                <div class="position-relative overflow-hidden d-block">
                  <div class="box-overlay"><a class="d-block w-100 h-100" href="#"></a></div><img class="w-100" src="img/services-1.jpg" alt=""/>
                </div>
              </div>
              <div class="p-4 border bg-white">
                <h3 class="h5"> <a class="reset-anchor" href="#">House renovation</a></h3>
                <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p><a class="btn btn-primary btn-sm text-white" href="#">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="shadow-sm box">
              <div class="with-border-image-sm">
                <div class="position-relative overflow-hidden d-block">
                  <div class="box-overlay"><a class="d-block w-100 h-100" href="#"></a></div><img class="w-100" src="img/services-2.jpg" alt=""/>
                </div>
              </div>
              <div class="p-4 border bg-white">
                <h3 class="h5"> <a class="reset-anchor" href="#">Construction consultant</a></h3>
                <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p><a class="btn btn-primary btn-sm text-white" href="#">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="shadow-sm box">
              <div class="with-border-image-sm">
                <div class="position-relative overflow-hidden d-block">
                  <div class="box-overlay"><a class="d-block w-100 h-100" href="#"></a></div><img class="w-100" src="img/services-3.jpg" alt=""/>
                </div>
              </div>
              <div class="p-4 border bg-white">
                <h3 class="h5"> <a class="reset-anchor" href="#">General contracting</a></h3>
                <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p><a class="btn btn-primary btn-sm text-white" href="#">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Divider Section -->
    <section class="bg-cover bg-center" style="background: url(img/hero-banner-1.jpg)">
      <div class="dark-overlay">
        <div class="py-5 text-white overlay-content">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-7 text-center text-lg-left mb-4 mb-lg-0">
                <h2 class="h3 mb-3">Trusted Construction <span class="text-primary">Since 1889</span></h2>
                <p class="text-small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
              <div class="col-lg-5 text-center text-lg-right"><a class="btn btn-outline-light text-white" href="#">Get a quote        </a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Works Section -->
    <section class="py-5">
      <div class="container py-5">
        <header class="text-center mb-5">
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <h2 class="text-uppercase"><span class="text-primary">Latest </span>Works</h2>
              <p class="text-muted">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
            </div>
          </div>
        </header>
        <div class="row text-center">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="shadow-sm box">
              <div class="position-relative overflow-hidden d-block">
                <div class="box-overlay box-overlay-primary"><a class="d-block w-100 h-100" href="#"></a></div><img class="w-100" src="img/services-1.jpg" alt=""/>
              </div>
              <div class="p-4 bg-dark text-white">
                <h3 class="h5"> <a class="reset-anchor" href="#">House renovation</a></h3>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div><a class="btn btn-primary btn-block text-white" href="#">Read more</a>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="shadow-sm box">
              <div class="position-relative overflow-hidden d-block">
                <div class="box-overlay box-overlay-primary"><a class="d-block w-100 h-100" href="#"></a></div><img class="w-100" src="img/services-2.jpg" alt=""/>
              </div>
              <div class="p-4 bg-dark text-white">
                <h3 class="h5"> <a class="reset-anchor" href="#">Kitchen remodelling</a></h3>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div><a class="btn btn-primary btn-block text-white" href="#">Read more</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="shadow-sm box">
              <div class="position-relative overflow-hidden d-block">
                <div class="box-overlay box-overlay-primary"><a class="d-block w-100 h-100" href="#"></a></div><img class="w-100" src="img/services-3.jpg" alt=""/>
              </div>
              <div class="p-4 bg-dark text-white">
                <h3 class="h5"> <a class="reset-anchor" href="#">Home repair</a></h3>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div><a class="btn btn-primary btn-block text-white" href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonials Section -->
    <section class="py-5 bg-light">
      <div class="container py-5">
        <header class="text-center mb-5">
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <h2 class="text-uppercase">What <span class="text-primary">our clients  </span>say</h2>
              <p class="text-muted">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
            </div>
          </div>
        </header>
        <div class="owl-carousel testimonials-slider owl-theme">
          <div class="bg-white p-4 p-lg-5">
            <div class="row">
              <div class="col-lg-10">
                <div class="d-flex">
                  <div class="flex-grow-1" style="min-width: 60px"><img class="w-100" src="img/testimonial-1.jpg" alt="..."/></div>
                  <div class="ml-3 flex-grow-1">
                    <h3 class="h5">Outstanding quality</h3>
                    <ul class="list-inline small mb-4">
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                    </ul>
                    <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                    <h6 class="mb-0">- Jacklyn Fernandez</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 d-none d-lg-block text-right"><i class="fas fa-quote-right fa-2x text-primary"></i></div>
            </div>
          </div>
          <div class="bg-white p-4 p-lg-5">
            <div class="row">
              <div class="col-lg-10">
                <div class="d-flex">
                  <div class="flex-grow-1" style="min-width: 60px"><img class="w-100" src="img/testimonial-2.jpg" alt="..."/></div>
                  <div class="ml-3 flex-grow-1">
                    <h3 class="h5">Professional handling</h3>
                    <ul class="list-inline small mb-4">
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                    </ul>
                    <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                    <h6 class="mb-0">- Jason Doe</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 d-none d-lg-block text-right"><i class="fas fa-quote-right fa-2x text-primary"></i></div>
            </div>
          </div>
          <div class="bg-white p-4 p-lg-5">
            <div class="row">
              <div class="col-lg-10">
                <div class="d-flex">
                  <div class="flex-grow-1" style="min-width: 60px"><img class="w-100" src="img/testimonial-1.jpg" alt="..."/></div>
                  <div class="ml-3 flex-grow-1">
                    <h3 class="h5">Outstanding quality</h3>
                    <ul class="list-inline small mb-4">
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                    </ul>
                    <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                    <h6 class="mb-0">- Jacklyn Fernandez</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 d-none d-lg-block text-right"><i class="fas fa-quote-right fa-2x text-primary"></i></div>
            </div>
          </div>
          <div class="bg-white p-4 p-lg-5">
            <div class="row">
              <div class="col-lg-10">
                <div class="d-flex">
                  <div class="flex-grow-1" style="min-width: 60px"><img class="w-100" src="img/testimonial-2.jpg" alt="..."/></div>
                  <div class="ml-3 flex-grow-1">
                    <h3 class="h5">Professional handling</h3>
                    <ul class="list-inline small mb-4">
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                    </ul>
                    <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                    <h6 class="mb-0">- Jason Doe</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 d-none d-lg-block text-right"><i class="fas fa-quote-right fa-2x text-primary"></i></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
 {% endblock %}